
<h1>Reiseauskunft</h1>

<h2>Berlin Hbf</h2>

<nav>
  <a routerLink="/dashboard">Dashboard</a>
</nav>
<nav>
  <a routerLink="/testdep-list">Test Abfahrten (JSON Fake)</a>
</nav>
<nav>
  <a routerLink="/departure-list">Test Abfahrten (aufbereitet von FAKe JASON)</a>
</nav>
<nav>
  <a routerLink="/timetableconst-list">Test Timetable (CONST) Ankunft/Abfahrt</a>
</nav>

<nav>
  <a routerLink="/add-testdep">Add Test Abfahrten (POST)</a>
</nav>


<br>
<br>
<br>


<router-outlet></router-outlet>




<br>
<br>
<br>
<p>Bahn22 - Ang14</p>